.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.item {
  color: white;
  padding: 20px;
}

.span-all {
  grid-column: 1 / span 3;
}

.span-row {
  grid-row: 2 / span 3;
}

.square {
  height: 100;
  width: 50px;
  background-color: #03989e;
}

.oval {
  width: 100px;
  height: 75px;
  border: 5px solid #66e2e7;
  border-radius: 50%;
}

.rectangle {
  width: 100px;
  height: 75px;
  background-color: #ff5757;
}
.rectangle-rounded {
  margin-top: 15px;
  width: 100px;
  height: 75px;
  background-color: #ff66c4;
  border-radius: 10%;
}

.rectangle-bottom {
  width: 100%;
  height: 75px;
  background-color: #7ed957;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 100px solid #ffbd59;
  border-bottom: 25px solid transparent;
}
