<pre > .Control-Buttons {
  margin: 3rem 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-grp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.btn-1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 10vw;
  height: 5vh;
  border-radius: 14px;
  margin: 0px 6px;
  display: flex;
  border: 2px solid #c9e265;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
}

.btn-2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 10vw;
  height: 5vh;
  border-radius: 14px;
  margin: 0px 6px;
  display: flex;
  border: 2px solid #ffde59;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
}

.btn-3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 10vw;
  height: 5vh;
  border-radius: 14px;
  margin: 0px 6px;
  display: flex;
  border: 2px solid #7ed957;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
}

.btn-one {
  background-color: #c9e265;
}

.btn-two {
  background-color: #ffde59;
}

.btn-three {
  background-color: #7ed957;
}
